@import 'constants.styl'
@import 'fonts.styl'
@import 'buttons.styl'
@import 'utils.styl'

cards-container()
  display flex
  padding 20px
  flex-wrap wrap
  gap 15px
  justify-content space-evenly
  .card
    width 100%
    max-width 250px
    max-height 500px
    overflow hidden
    border 1px solid transparent
    border-radius 10px
    display flex
    flex-direction column
    background colorBlockBg
    cursor pointer
    trans()
    header
      padding 10px
      font-medium()
      trans()
    img
      border-radius 10px
      object-fit cover
      object-position center bottom
      transform-origin 50% 0
      img-size(100%)
      transition all 0.2s ease-out
    &:hover
      border-color mix(colorBorder, transparent)
      header
        color colorEmp2
      img
        transform scale(1.03)
        filter brightness(1.2)

    &.disabled
      filter saturate(0) brightness(0.7)
      cursor not-allowed
      pointer-events none

form()
  padding 20px
  .info
    color colorText4
    font-small-extra()
  .button
  button
    margin 15px 10px 15px 0
    button()
    width fit-content
    display inline-block

page-root()
  // box-sizing content-box
  width 100%
  max-width pageMaxWidth
  margin-right 'max(calc((100% - %s) / 2), 0px)' % (pageMaxWidth + 2 * pageMinHorizontalPadding)
  margin-left 'max(calc((100% - %s) / 2), 0px)' % (pageMaxWidth + 2 * pageMinHorizontalPadding)
  padding 30px pageMinHorizontalPadding 70px pageMinHorizontalPadding


block(colorBorder=colorBorder)
  display block
  padding 16px
  border-radius radiusL
  header
    font-medium()
    font-bold()
  section
    font-medium()

block-shadow()
  block()

  box-shadow 0 0 10px 2px colorShadow

block-bg(colorBg=colorBlockBg)
  block()

  display block
  background colorBg

block-bg-shadow()
  block-bg()
  block-shadow()


input()
  input-no-styles()

  cursor text
  display flex
  align-items center
  height 45px
  margin 0
  padding 0 15px
  color colorText1
  background transparent
  border 2px solid colorBorder
  border-radius radiusM
  font-small()

  &::placeholder
    color colorText2

  &:focus
    // color colorEmp1
    background colorSuccessBg
    border-color colorEmp1
  &.error
    border-color colorError
  &.success
    border-color colorSuccess
  &[disabled]:not([disabled="false"])
    cursor default
    color colorText2
    background mix(colorBlockBg, transparent, 10%)

  trans()
